/* =====================
 media query 
===================== */

@media only screen and (max-width: 768px) {
    header .fa-bars {
        display: block;
    }

    .wrapper {
        padding: 0 20px;
    }

    .home-banner .sec-row {
        flex-direction: column-reverse;
        row-gap: 20px;
    }

    .home-banner .sec-col {
        width: 100%;
        max-width: 548px;
    }

    .home-banner .section-title-0 {
        font-size: 48px;
        line-height: 52px;
        margin-bottom: 12px;
    }

    .home-banner .section-desc-0 {
        margin-bottom: 24px;
    }

    .home-banner {
        padding: 10px 0 10px 0;
        margin-bottom: 0px;
    }

    .home-banner .search-bar {
        max-width: 470px;
        height: 65px;
    }

    .home-banner input {
        height: 65px;
        font-size: 16px;
    }

    .home-banner .search-icon {
        position: absolute;
        top: 11px;
        right: 11px;
        width: 45px;
        height: 45px;
    }

    .home-banner .search-icon img {
        width: 23px;
        height: 23px;
    }

    .section-title {
        font-size: 32px;
        color: var(--secondary);
        line-height: 34px;
    }

    .categories .owl-nav {
        top: -200px !important;
    }

    .categories .owl-prev, .owl-next {
        width: 40px !important;
        height: 40px !important;
    }

    .experience .sec-row {
        flex-direction: column;
    }

    .experience .sec-col {
        width: 100%;
    }

    .experience .section-title {
        margin-bottom: 10px;
    }

    .experience .section-desc {
        margin-bottom: 15px;
    }

    .experience .sec-sub-title {
        margin-bottom: 10px;
    }

    .experience .number {
        font-size: 36px;
    }

    .experience .counter-deck {
        font-size: 20px;
    }

    .experience .counter-number {
        width: 140px;
        height: 155px;
    }
}

@media only screen and (max-width: 576px) {

    .home-banner .section-title-0 {
        font-size: 32px;
        line-height: 40px;
    }

    .home-banner .search-bar {
        max-width: 470px;
        height: 50px;
    }

    .home-banner input {
        height: 50px;
        font-size: 16px;
    }

    .home-banner .search-icon {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 35px;
        height: 35px;
    }

    .categories .owl-nav {
        display: none;
    }

    .categories .section-title {
        margin-bottom: 20px;
    }

    .categories .section-desc {
        margin-bottom: 22px;
    }

    .owl-carousel .owl-item .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .owl-carousel .owl-item img {
        display: block;
        width: initial;
    }

    .experience {
        padding: 0px 0;
    }

    .experience .counter {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

    }

    .experience .number {
        font-size: 25px;
    }

    .experience .counter-deck {
        font-size: 16px;
    }

    .experience .counter-number {
        width: 130px;
        height: 130px;
    }
}