/* =====================
 media query 
===================== */


@media only screen and (max-width: 480px) {
    .navbar-menu {
        padding: 0 20px;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;

        background: #fde5b5;
        padding: 100px 20px 0 20px;
        height: 100%;
        z-index: 1000;
        transition: all 0.3s linear;
    }

    .mobile-menu li:nth-child(-n + 4) {
        margin-bottom: 20px;
    }

    .mobile-menu.mobile-menu-back {
        right: 0;
    }
}